#root *,
#__next * {
  appearance: none;
  object-fit: scale-down;
}

body,
#__next *:not(.grid):not(.line-clamp-1):not(.line-clamp-2):not(.line-clamp-3):not(.line-clamp-4):not(.line-clamp-5) {
  display: flex;
}

button {
  border: none;
}
