#root *,
#__next * {
  appearance: none;
  object-fit: scale-down;
}

html *:not(head *):not(script):not(style) {
  display: flex;
}

button {
  border: none;
}

html,
body,
#__next {
  min-height: 100vh;
}
